<div class="container">

    <div class="recipe-table" *ngIf="recipe">
        <h2>Recipe Detail</h2>
        <hr/>
        <div class="recipe-title">
            <input type="text" id="txtTitle" placeholder="Recipe Title Here!" [(ngModel)]="name">
        </div>

        <div class="recipe-ingrediants-input">
            <label for="txtIngrediantsInput">Ingrediants</label>
            <textarea id="txtIngrediantsInput" [(ngModel)]="ingrediantsInput"></textarea>

            <label for="txtImageUrl">Image Url</label>
            <input type="text" id="txtImageUrl" [(ngModel)]="imageUrl">

            <button class="btn" (click)="updateRecipe()" onclick="myFun()">Update</button>
        </div>
    </div>

</div>