* {
    margin: 0;
    padding: 0;
}

.container {
    padding: 100px;
    display: flex;
    justify-content: center;
    height: 100%;
}

.recipe-table {
    border: 2px solid black;
    border-radius: 10px;
}

.recipe-title {
    text-align: center;
    padding: 20px;
}

input {
    border: 1px solid black;
}

h2 {
    font-size: 3em;
    padding: 4vh 0vw;
    width: 100%;
    text-align: center;
}

.recipe-ingrediants-input {
    justify-content: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#txtTitle {
    text-align: center;
    font-size: 2em;
    padding: 2vh;
}

#txtImageUrl {
    font-size: 1.5em;
    padding: 2vh;
}

label {
    font-size: 1.5em;
    padding: 2vh 0;
}

textarea {
    font-size: 1.5em;
    resize: none;
    width: 50vw;
    height: 20vh;
}

.btn {
    margin-top: 1vh;
    padding: 2vh 2vw;
    border-radius: 5px;
    font-size: 2em;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(212, 212, 212);
    color: black;
}

.btn:active {
    background-color: black;
    color: white;
}